/* Paul Irish Reset: https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Color constants 
   https://coolors.co/8d0e0e-b8b4a8-f5f5f5-213c83-010001
*/
:root {
  --font-primary: #010001;
  --font-promo: #f5f5f5;
  --heading-color: #213c83;
  --background-primary: #f5f5f5;
  --background-promo: #8d0e0e;
  --background-info-box: #b8b4a8;
}

body {
  font-family: Mukta, Helvetica, sans-serif;
  min-width: 400px;
}

.top-promo-bar {
  width: 100%;
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: center;
  padding: 1.2rem 0;
  color: var(--font-promo);
  background-color: var(--background-promo);
}

.main-logo {
  color: var(--heading-color);
  text-align: center;
  font-size: 32px;
  margin: 16px auto;
}

.navbar,
.navbar-brand {
  font-size: 2rem;
}

.main-banner {
  width: 100%;
  height: 400px;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.25)
    ),
    url(../assets/Images/banner1b.png),
    radial-gradient(
      circle,
      rgba(255, 255, 255, 0.11808473389355745) 0%,
      rgba(67, 71, 77, 0.5466561624649859) 100%
    );
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-banner-heading {
  font-weight: bold;
  font-size: 4.8rem;
  color: var(--font-promo);
}

.main-banner-text {
  font-size: 2.8rem;
  color: var(--font-promo);
}

.offer-container {
  width: 400px;
  margin: 60px auto;
  font-size: 2rem;
}

.banner {
  width: 400px;
  height: 500px;
}

.banner-2 {
  background-image: url(../assets/Images/banner2.png);
}

.banner-3 {
  background-image: url(../assets/Images/banner3.png);
}

.product-group-heading {
  color: var(--heading-color);
  font-size: 3.6rem;
}

.carousel-container {
  background-color: #cccccc;
  display: flex;
  justify-content: center;
}

.carousel {
  width: 400px;
  height: 225px;
}

.carousel-inner {
  color: black;
}

.toc-text {
  text-align: center;
  font-size: 1.2rem;
  margin: 20px 40px;
}

.social-media {
  background-color: lightgrey;
  padding-left: 25%;
  padding-right: 25%;
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.social-icon {
  height: 60px;
}

.copyright {
  text-align: center;
  font-size: 1.1rem;
}

.fixed-circle {
  width: 100px;
  height: 100px;
  padding: 20px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-primary);
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  user-select: none;
}

.leave-message {
  font-size: 1.6rem;
  line-height: 1.8rem;
  position: fixed;
  bottom: 20px;
  left: 20px;
}

.back-to-top {
  font-size: 4.5rem;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.fixed-circle-content {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.message-form {
  display: none;
}

.message-toggler:checked ~ .message-form {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 120px;
  left: 120px;
  background-color: white;
  border: 1px solid black;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.message-toggler {
  display: none;
}

.copyright {
  text-align: center;
  font-size: 2rem;
  margin: 1rem;
}

@media only screen and (min-width: 992px) {
  .offers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .offer-container {
    margin-left: 0;
    margin-right: 0;
  }

  .carousel {
    width: 800px;
    height: 450px;
  }
}
